<div class="content-wrapper" style="min-height: 413px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        TOTAL
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <h5>Transactions</h5>
                    </div>
                    <!-- /.col-12 -->
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{totalFIIs.total | currency:'BRL'}}
                                    </h3>
                                    <p>FIIs</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-home"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{totalStocks.total | currency:'BRL'}}
                                    </h3>
                                    <p>STOCKS</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{(totalPortfolio.total) | currency:'BRL'}}
                                    </h3>
                                    <p>
                                        TOTAL                                        
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="col-12">
                        <h5 class="mt-3">Dividends</h5>
                    </div>
                    <!-- /.col-12 -->
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{totalDivFiis | currency:'BRL'}}
                                    </h3>
                                    <p>FIIs</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-home"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{totalDivStocks | currency:'BRL'}}
                                    </h3>
                                    <p>STOCKS</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>
                                        {{totalDiv | currency:'BRL'}}
                                    </h3>
                                    <p>TOTAL</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        CHARTS
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <h5>Transactions</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <app-monthly-transactions-chart></app-monthly-transactions-chart>
                        </div>
                        <div class="col-lg-6 col-6">
                            <app-monthly-transactions-per-type-chart></app-monthly-transactions-per-type-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        DIVIDEND
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <app-monthly-dividends-chart></app-monthly-dividends-chart>
                        </div>
                        <div class="col-lg-6 col-6">
                            <app-monthly-dividends-per-type-chart></app-monthly-dividends-per-type-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        CHARTS
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <h5>Transactions</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <app-assets-chart></app-assets-chart>
                        </div>
                        <div class="col-lg-6 col-6">

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>